In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [1]:
# Initialize an empty list to store the data
data = []
year_text = None  # Initialize year_text outside the loop

# Extract data from td tags and append to the list
for index, td in enumerate(soup.find_all('td')):
    td_text = td.get_text().strip()
    
    if index % 2 == 0:  # Every second td
        if td.a:  # Check if td contains an 'a' tag
            year_text = td.a.get_text()  # Update year_text if it's a year
        else:
            data.append({'Player': td_text, 'Year': year_text})

# Create a DataFrame from the list of dictionaries
all_stars_df = pd.DataFrame(data)

# print(all_stars_df)

NameError: name 'soup' is not defined

In [21]:
all_stars_df[80:106]

                Player  Year
80        Kyrie Irving  2017
81       Stephen Curry  2017
82       DeMar DeRozan  2017
83        James Harden  2017
84        Lebron James  2017
85        Kevin Durant  2017
86     Giannis Anteto.  2017
87       Kawhi Leonard  2017
88        Jimmy Butler  2017
89       Anthony Davis  2017
90       Isaiah Thomas  2017
91   Russell Westbrook  2017
92          Kyle Lowry  2017
93       Klay Thompson  2017
94        Kemba Walker  2017
95      Gordon Hayward  2017
96         Paul George  2017
97    DeMarcus Cousins  2017
98          Kevin Love  2017
99      Draymond Green  2017
100       Paul Millsap  2017
101     DeAndre Jordan  2017
102          John Wall  2017
103         Marc Gasol  2017
104    Carmelo Anthony  2017
105         Kyle Lowry  2016

In [19]:
# Filter out rows where the 'Player' column is an empty string ('')
all_stars_df = all_stars_df[(all_stars_df['Player'] != '')&(all_stars_df['Player'] != 'EAST')&(all_stars_df['Player'] != 'WEST')&(~all_stars_df['Player'].str.contains('Team'))]

# Reset the index after filtering rows
all_stars_df.reset_index(drop=True, inplace=True)

all_stars_df

             Player  Year
0      LeBron James  None
1     Small Forward  None
2      Kevin Durant  None
3     Small Forward  None
4      Kyrie Irving  None
...             ...   ...
1676    Larry Foust  1951
1677      Red Rocha  1951
1678    Frank Brian  1951
1679   Dick McGuire  1951
1680    Fred Schaus  1951

[1681 rows x 2 columns]